* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.img-post {
    display: block;
    border-radius: 30%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center center;
}

.form-input {
    outline: none; 
    border: 2px solid #000000;
    border-radius: 5px;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-label {
    display: flex; 
    flex-direction: column; 
    padding-bottom: 10px;
}

.form-label-post {
    width: 70%;
}

.form-btn {
    border-radius: 10px;
    background-color: #99ff99;
    color: black;
    cursor: pointer;
    outline: none;
    padding: 5px 15px;
    border: none;
}

:hover.form-btn {
    background-color: #518b51;
}


.wellCome {
    display: none;
}


.post-h {
    background-color: aliceblue;
}

.post-h:hover {
    background-color: rgb(211, 211, 211);
    cursor: pointer;
}

.post-body {
    overflow: hidden;
    height: 0;
}

.opened .post-body {
    height: auto;
}

